*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  margin: auto;
  block-size: 100%;
  color: #fff;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  width: fit-content;
}

.search-form__fieldset-title {
font-family: 'Fira Sans Condensed', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 5px;
}


.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label-text:focus-visible {
  outline: 1px white solid;
}

.search-form__label:has(:focus-visible) {
  outline: 1px white solid;
  }

.search-form__textfield {
  font-family: 'Fira Sans Condensed', serif;
  font-weight: 400;
  font-size: 18px;
  width: 225px;
  height: 27px;
  cursor: pointer;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-right: none;
  border-left: none;
  color: white;
  background-color: rgb(0 0 0 / 0);
  appearance: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  outline: 1px solid white;
  outline-offset: 1px;
}

.content {
  display: flex;
  gap: 30px;
  inline-size: 100%;
  margin: 100px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
  margin-top: 16px;
}

.content__list {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.content__list:hover {
  overflow: scroll;
}

.result {
  width: 711px;
  height: 456px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 464px;
  padding-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.content__details {
  height: 534px;
  block-size: 324px;
}

.content__list-item:not(:last-of-type) {
 margin: 30px 0px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.search-form__submit-button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(0 0 0 / 0);
  color: white;
}

.search-form__submit-button:active {
  background-color: rgb(255 255 255 / 0.3);
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70.5px;;
  font-size: 75px;
} 

.content__accent {
  color: #545050;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px white solid;
  padding: 6px 73.5px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px white solid;
}

.more-button {
  background-color: rgb(0 0 0 / 0);
  color: white;
  width: 100%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px white solid;
}

.content__card-link_current:active {
  background-color: rgb(255 255 255 / 0.3);
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.error { 
  width: 711px;
  height: 386px;
  margin-top: 77px;
}

.error__title {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
}